Source: ros-kinetic-rostime
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-kinetic-catkin (>= 0.5.68), ros-kinetic-cpp-common
Homepage: http://ros.org/wiki/rostime
Standards-Version: 3.9.2

Package: ros-kinetic-rostime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-kinetic-cpp-common
Description: Time and Duration implementations for C++ libraries, including roscpp.
